body {
    background-color: black;
    margin: 10em;
    text-align: center;
  }

h1 {

    color: white;
    position: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
}

a {
    color: black;
    text-decoration: none;
    padding: .1em;
    background-color: white;
}

h3 {
    color:white;
    position: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}

img {
    width: 10em;
    outline-color: white;
    outline-style: dotted;
    position: center;
}